:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  /* font-size: 1em; */
  /* font-weight: 500; */
  /* font-family: inherit; */
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.active {
  background-color: #646cff;
  border-color: #646cff;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

video {
  width: 200px;

  position: absolute;
  z-index: 10;

  transition: all 0.15s linear;
}

video.front {
  top: 0;
  left: 50%;

  margin-left: -100px;
}

video.left_repeater {
  top: 25%;
  left: 0;
}

video.right_repeater {
  top: 25%;
  right: 0;
}

video.back {
  bottom: 0;
  left: 50%;

  margin-left: -100px;
}

video.fullscreen {
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 5;

  margin: 0;
}

code {
  background: lightgrey;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.hidden {
  display: none;
}

#global-controls div {
  position: absolute;
  z-index: 7;

  border-radius: 8px;
  padding: 8px;

  background-color: #838383;
}

#global-controls div.controls {
  left: 4px;
  bottom: 4px;
}

#global-controls div.speed {
  right: 4px;
  bottom: 4px;
}