doctype html
html(lang="en")
  head
    //- Meta
    include includes/meta.pug

    //- Title
    title #{name}

    //- Styles
    style
      include:clean-css styles/index.css

  body
    header.hidden
      .header-container
        span.icon-container.btn-sidebar-toggle
          include:svgo assets/list.svg

        h3#title &nbsp;

    section#main-overlay
      h1 #{name}

      div
        strong Select TeslaCam Directory
        | &nbsp;(Must be in same directory as index.html):
        br
        input#fileBrowser(type="file" accept="video/mp4" webkitdirectory multiple)

    section#sidebar.closed
      #sidebar-header
        span.icon-container.btn-sidebar-toggle
          include:svgo assets/list.svg

        h3 Clips

      div#clips-list

    section#global-controls.hidden
      .controls
        button.previous
          include:svgo assets/skip_previous.svg

        button.btn-skip(data-skip="-10")
          include:svgo assets/replay_10.svg

        button.btn-skip(data-skip="-5")
          include:svgo assets/replay_5.svg

        button.btn-play-pause
          include:svgo assets/play_arrow.svg

          include:svgo assets/pause.svg

        button.btn-skip(data-skip="5")
          include:svgo assets/forward_5.svg

        button.btn-skip(data-skip="10")
          include:svgo assets/forward_10.svg

        button.next
          include:svgo assets/skip_next.svg

        button.btn-autoplay
          include:svgo assets/autoplay.svg

      .speed
        button.btn-playback-rate(data-rate="0.5")
          include:svgo assets/speed_0_5x.svg

        button.btn-playback-rate.active(data-rate="1")
          include:svgo assets/speed_1x.svg

        button.btn-playback-rate(data-rate="2")
          include:svgo assets/speed_2x.svg

    section#video-players.hidden
      video.front.fullscreen(src="")

      video.left_repeater(src="")

      video.right_repeater(src="")

      video.back(src="")

    script
      include:terser js/index.js
